<section class="sec" id="articles">
  <div class="article-list">
    <div class="list-header">
      <i class="search icon"></i>
      <div class="header-title">
        Search Result
      </div>
    </div>
    <div class="article-list-view">
      <%= render 'articles/article', obj: @search_articles %>
      <div class="pagination">
        <%= will_paginate @search_articles,
          renderer: WillPaginateSemanticUi::ActionView::Renderer,
          inner_window: 1, outer_window: 0 %>
      </div>
    </div>
  </div>
</section>