<section class="sec contact">
  <div class="content">
    <div class="mxw800p">
      <h3>Edit Profile</h3>
    </div>
    <%= render 'users/form' %>
    <p class="form-comment">
      <%= link_to 'Change your profile photo?',
       'https://en.gravatar.com/', :target=>["_blank"] %>
    </p>
  </div>
</section>