<section class="sec contact" id="signUp">
  <div class="content">
    <div class="mxw800p">
      <h3>Sign Up</h3>
      <p>
        Let's start to use our services!
      </p>
    </div>
    <%= render 'users/form' %>
    <p class="form-comment">
      Already have an account? <%= link_to 'Log in', root_path %>
    </p>
  </div>
</section>