<div class="categories">
  <div class="ctg-header">
    <i class="tags icon"></i>
    <div class="ctg-title">
      Categories
    </div>
  </div>
  <div class="category-list-view">
  <% obj.each do |category| %>
    <div class="ctg-content"> 
      <%= link_to category_path(category), class: "ctg-tag" do %>
        <div class="ctg-start">
          <%= category.name %>
        </div>
        <div class="ctg-post">
          <% if @path.is('users#show') %>
            <%= category.ctg_count %>
          <% else %>
            <%= category.articles.count %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>