<div class="ui vertical menu">
  <div class="item">
    <div class="ui header">
      <i class="teal tags icon"></i>
      <div class="content">Category</div>
    </div>
  </div>
  <% Category.all.each do |category| %>
    <%= link_to category_path(category), class: "item" do %>
      <%= category.name %>
      <div class="ui teal left pointing label"><%= category.articles.count %></div>
    <% end %>
  <% end %>
</div>