@import "semantic-ui";

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button,
.right.item .ui.inverted.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.ui.container .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .ui.container .item {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .ui.container .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.image {
  margin-top: -100px;
}
.short.column {
  max-width: 450px;
}

.ui.grid.mt-10 {
  margin-top: 10em;
}

.ui.card.not-center {
  text-align: initial;
  width: 40%;
}

.ui.stackable.centered.grid {
  padding-top: 5.75rem !important;
}

p {
  font-size: 1.3rem;
}

pre {
  padding: 10px;
  font-size: 18px;
  line-height: 32px;
  overflow: auto;
  background-color: #f6f8fa;
}

.pagination.ui.menu.pagination {
  float: right;
}

.sub.header,
.sub-color {
  color: rgba(0,0,0,.4) !important;
}

.under-line {
  color: black !important;
}

a:hover.under-line,
a:hover.sub-color {
  text-decoration: underline !important;
}

.sub.header.wide {
  width: 60rem;
}

.tag.label {
  margin-right: 0.5rem;
}

.ui.message.transition {
  position: absolute;
  bottom: 2%;
  left: 1%;
}

.ui.error.message {
  display: block !important;
}

.ui.grid.mt-12 {
  margin-top: 12rem;
}

.ui.message.center {
  text-align: center;
}

.ui.button.mt-1 {
  margin-top: 1rem;
}