<div class="contactForm">
  <%= form_for @category do |f| %>
    <%= render 'shared/errors', obj: @category %> 
    <div class="row100">
      <div class="inputBx100">
        <%= f.text_field :name, placeholder: "name" %>
      </div>
    </div>
    <div class="row100">
      <div class="inputBx100">
        <%= f.submit(@category.new_record? ? "Add" : "Update") %>
      </div>
    </div>
  <% end %>
</div>