<div class="ui stackable centered grid mt-12">
  <div class="four wide column">
    <div class="ui huge teal center aligned header">
      <div class="content">
        <i class="large tags icon"></i>
          Add Category
      </div>
    </div>
    <%= render 'form' %>
  </div>
</div>