<div class="ui stackable centered grid">
  <div class="ten wide left aligned column">
    <div class="ui very padded segment">
      <div class="ui huge center aligned header">
        <div class="content">
          <i class="teal tag icon"></i>
          <%= @category.name%>
        </div>
      </div>
      <div class="ui relaxed divided list">
        <%= render 'articles/article', obj: @category_articles %>
      </div>
    </div>
    <%= will_paginate @category_articles, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
  </div>
  <div class="two wide column">
    <%= render 'shared/categories' %>
  </div>
</div>