<div class="ui inverted menu">
  <div class="ui container">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <% if logged_in? %>
      <%= link_to 'Create Article', new_article_path, class: 'item' %>
    <% end %>
    <div class="right item">
      <% if logged_in? %>
        <%= link_to 'Log out', logout_path, method: :delete, class: 'ui inverted button' %>
      <% else %>
        <%= link_to 'Log in', login_path, class: 'ui inverted button' %>
        <%= link_to 'Sign Up', signup_path, class: 'ui inverted button' %>
      <% end %>
    </div>
  </div>
</div>